body{
    font-family: Roboto,Arial;
    padding-top: 72px;
    padding-left: 86px;
    padding-right: 24px;
    background-color: rgb(248,248,248);
    height: 1000px;
}
p{
    font-family: roboto,Arial;
    margin-top: 0;
    margin-bottom: 0;
}
.thumbnail{
    margin-bottom: 8px;
    position: relative;
    
}
.thumbnail img{
    width: 100%;
}
.video-time{
    position: absolute;
    bottom: 8px;
    right: 6px;
    background-color: rgba(0,0,0,0.85);
    color: white;
    font-size: 12px;
    font-weight: 500;
    padding: 2px 4px;
    border-radius: 2px;
}
.video-title{
    margin-bottom: 10px;
    margin-top: 4px;
    font-weight: 600;
    font-size: 14px;
}
.author,.video-stats{
    font-size: 12px;
    color: rgb(96, 96, 96);
    margin-bottom: 4px;
}
.logo img{
    width: 36px;
    border-radius: 50%;
}
.video-info{

}

.grid-layout{
    display: grid;;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 16px;
    row-gap: 14px;
}

@media (max-width : 900px){
    .grid-layout{
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width:901px) and (max-width:1199px){
    .grid-layout{
        grid-template-columns: 1fr 1fr 1fr;
    }
}
.video-details{
    display: grid;
    grid-template-columns: 50px 1fr;
}

/* Header Section */

.header{
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    border-bottom: 1px solid rgb(224, 224, 224);
     z-index:100;
}
.left-sec{
    width: 150px;
    display: flex;
    align-items: center;

}

.ham-menu{
    height: 24px;
    margin-left: 25px;
    margin-right: 24px;
}

.yt-logo{
    height: 20px;
}

.middle-sec{
    display: flex;
    max-width: 500px;
    margin-left: 70px;
    margin-right: 35px;
    flex: 1;
    align-items: center;
}

.search-box{
    flex:1;
    width: 0;
    height: 36px;
    font-family: Roboto ,arial;
    font-size: 16px;
    padding-left: 10px;
    border: 1px solid rgb(192, 192, 192);
    border-radius: 2px;
    box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);
}


.search-box::placeholder{
    font-family: Roboto ,arial;
    font-size: 16px;
}

.search-btn{
    height:40px;
    width: 60px;
    margin-left: -1px;
    background-color: rgb(240, 240, 240);
    border: 1px solid rgb(192, 192, 192);
}

.search-btn,.voice-btn,.upload-container ,.apps-container,.notification-container,.logo-container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

}

.search-btn .tooltip , .voice-btn .tooltip ,.upload-container .tooltip ,.apps-container .tooltip ,.notification-container .tooltip, .logo-container .tooltip{
    color: white;
    position: absolute;
    background-color: gray;
    padding: 4px 8px;
    border-radius: 2px;
    bottom: -30px;
    font-size: 12px;
    opacity: 0;
    transition: opacity 0.15s;
    pointer-events: none;
    white-space: nowrap;
}

.search-btn:hover .tooltip , .voice-btn:hover .tooltip ,.upload-container:hover .tooltip , .apps-container.apps-container:hover .tooltip ,.notification-container:hover .tooltip, .logo-container:hover .tooltip{
    opacity: 1;
}

.search-icon{
    height: 20px;
}

.voice-btn{
    height: 40px;
    width: 40px;
    margin-left: 10px;
    border-radius: 50%;
    border: none;
    background-color: rgb(240, 240, 240);
}

.voice-icon{
    height: 24px;
}
.right-sec{
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 20px;
    flex-shrink: 0;
}

.upload-icon{
    height: 24px;
}

.youtube-apps-icon{
    height: 24px;
}

.notification-icon{
    height: 24px;
}

.notification-container{
    position: relative;
}

.notification-count{
    position: absolute;
    background-color: rgb(219, 2, 2);
    color: white;
    font-size: 12px;
    font-weight: 500;
    padding: 2px 6px;
    border-radius: 50%;
    top: -5px;
    right: -3px;
}

.my-logo-icon{
    height: 32px;
    border-radius: 50%;
}

/* Side Bar */

.sidebar{
    position: fixed;
    top: 50px;
    left: 0;
    bottom: 0;
    width: 72px;
    background-color: rgb(255, 255, 255);
    padding-top: 5px;
    z-index: 200;
}

.sidebar-link{
    height: 74px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sidebar-link:hover{
    background-color: rgb(230, 230, 230);
    cursor: pointer;
}

.sidebar-link img {
    height: 24px;
    margin-bottom: 4px;
}

.sidebar-link div{
    font-size: 10px;
}